/*Configuraciones generales para toda la página*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* 
{
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:visited 
{
  text-decoration: none;
  color:  #1e1109;
}

li
{
  list-style: none;
}
/* 
h1 {
  font-size: 4vh;
  text-align: center;
}

h2 {
  font-size: 3vh;
  text-align: center;
} */

/*Sección menú mobile*/
#barraMobile
{
  display: flex;
  position:fixed;
  grid-area: barraMobile;
  background-color: #cfb895;
  width: 100%;
  height: 12vh;
  align-items: center;
}

#barraMobile img
{
  width: 36vw;
  align-self: center;
  margin: 0 24vw;
}

/*Botón hamburguesa del menú mobile*/
#btnMobile
{
  float: right;
  font-size: 10vw;
  background: #cfb895;
  border: none;
  margin-right: 3vw;
}

i 
{
  margin: 1vw;
}

/* Menú desplegable */
#barraMobileCaja
{
  display: none;
  position: absolute;
  width: 100%;
  background-color:  #cfb895CC;
  top: 12vh;
  z-index: 999;
  font-size: 6vw;
}

#barraMobileCaja ul
{
  margin: 4vw 20vw;
}

.listaBarra:hover
{
  background:#a89787;
  
}


/* Barra desktop oculta */
#barraDesktop 
{
  display: none;
}

/* Pie de página (footer) */
footer 
{
  display: grid;
  grid-area: footer;
  grid-template-areas:
    "contacto"
    "volverArriba"
    "hechoPor";
  grid-template-rows: repeat(3,6vh);
  grid-template-columns: 100%;
  background: #cfb895;
  justify-items: center;
  align-items: center;
  font-size: 3vh;
}

#contacto
{
  display: flex;
  grid-area: contacto;
  align-content: center;
  align-items: center;
}

#contacto img
{
  width: 4vh;
  margin: 1vh;
}

#volverArriba
{
  grid-area: volverArriba;
}

#hechoPor
{
  display: flex;
  grid-area: hechoPor;
  align-content: center;
  align-items: center;
}

/*Index: configuración del grid*/
#gridIndex
{
  display: grid;
  grid-template-areas:
    "barraMobile"
    "inicio"
    "footer";
  grid-template-rows: auto 90vh auto;
  grid-template-columns: 100%;
}

#inicio
{
  margin-top: 12vh;
  grid-area: inicio;
  background-image: url(../media/linda.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#titulo 
{
  font-size: 7vh;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 20vh;
  text-shadow: 0 0 8px #000;
}

#subTitulo
{
  margin-top: 40vh;
  font-size: 3vh;
  color: black;
  text-align: center;
  line-height: 2;
  font-weight: bold;
  margin: 30px;
  text-shadow: 0 0 8px#fff;
}

/*¿Quién es Emily?: Configuración del grid*/
#quienEsEmily
{
  display: grid;
  grid-template-areas:
    "gata"
    "amasar"
    "fotogenica"
    "oler-flores"
    "obrera"
    "zoom"
    "profe"
    "elecciones"
    "footer";
  grid-template-rows: auto;
  grid-template-columns: 100%;
  margin: 0 5vw;
}

#quienEsEmily div
{
  margin-bottom: 6vw;
}

#gata 
{
  grid-area: gata;
  margin-top: 12vh;
}

#amasar
{
  grid-area:amasar;
}

#fotogenica
{
  grid-area:fotogenica;
}

#oler-flores
{
  grid-area:oler-flores;
}

#obrera
{
  grid-area: obrera;
}

#zoom
{
  grid-area:zoom;
}

#profe
{
  grid-area: profe;
}

#elecciones
{
  grid-area: elecciones;
}

.textos::first-letter
{
  font-size: 3.5vh;
  color: #2525be;
}

.wikilink
{
  color: #ff0000;
}

/*AMIGUITOS*/

.grid-amiguitos {
  display: grid;
  grid-template-areas:
    "h1"
    "panterita"
    "mielcita"
    "gata-muda"
    "gato-siames"
    "moldes"
    "encuesta";
  grid-template-rows: auto;
  grid-template-columns: 100%;
}

h1 {grid-area: h1;}

.panterita {
  grid-area: panterita;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 5px solid green;
  border-radius: 20px;
            }

.mielcita {
  grid-area: mielcita;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  padding: 10px;
  background-color: orange;
  color: black;
  border: 5px solid brown;
  border-radius: 20px;
          }

.gata-muda {
  grid-area: gata-muda;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  padding: 10px;
  background-color: white;
  color: black;
  border: 5px solid black;
  border-radius: 20px;
          }

.gato-siames {
  grid-area: gato-siames;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  padding: 10px;
  background-color: lightyellow;
  color: brown;
  border: 5px solid black;
  border-radius: 20px
            }

.moldes {
  grid-area: moldes;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  padding: 10px;
  background-color: lightyellow;
  color: brown;
  border: 5px solid black;
  border-radius: 20px
        }

.encuesta {
  grid-area: encuesta;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 20px;
  padding: 10px;
  background-color: lightgreen;
  border-radius: 20px;
  line-height: 4vh;
          }


/*DONDE VIVE*/

.donde-vive{
  margin: 10px 20px;
  line-height: 4vh;
}

/*GALERIA*/

.grid-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}

.fotos-galeria{
  width: 95%;
  margin: 5px;
  object-fit: cover;
}

/*Medias Query: configuraciones de la versión desktop*/

@media only screen and (min-width: 768px) 
{
  /* h1 {
    font-size: 5vw;
  } */

  #titulo{
    font-size: 7vw;
  }

  #subTitulo
  {
    font-size: 4vh;
  }

  /* Barra mobile oculta */
  #barraMobile
  {
    display: none;
  }

  /* Barra desktop visible */
  #barraDesktop
  {
    position: fixed;
    display:grid;
    grid-template-areas:
      "logo barraDesktopLista";
    grid-template-rows: auto;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: 12vh;
    background-color:#cfb895;
    flex-direction: row;
    align-items: center;
  }

  #barraDesktopLista 
  {
    grid-area: barraDesktopLista;
    display:flex;
    justify-content: flex-end;
  }

  .logo 
  {
    grid-area: logo;
    width: 80%;
  }

  .barraDesktopItems
  {
      display: inline-block;
      margin: 0 2vw;
      font-size: 1.5vw;
  }

  /* Footer desktop */
  footer 
  {
    height: 12vh;
    grid-template-areas:
    "contacto volverArriba hechoPor";
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }
  
  #inicio{
    background-position: 50% 20%;
}
  /* Página "quién es Emily" */
  #quienEsEmily
  {
    display: grid;
    grid-template-areas:
      "gata amasar"
      "fotogenica oler-flores"
      "obrera zoom"
      "profe elecciones"
      "footer footer";
    grid-template-rows: auto;
    grid-template-columns: 40vw;
  }

  #quienEsEmily div 
  {
    display: grid;
    flex-direction: column;
  }

  /* #quienEsEmily div div 
  {

  }
 */

  #quienEsEmily img 
  {
    /* height: 40vw;
    width: 50vw; */
    object-fit: cover;
  }

  .grid-amiguitos {
    display: grid;
    grid-template-areas:
      "h1 h1"
      "panterita mielcita"
      "gata-muda gato-siames"
      "moldes encuesta";
    grid-template-rows: auto;
    grid-template-columns: 50%;
  }

  .grid-amiguitos img {
    height: 250px;
    width: 400px;
    object-fit: cover;
  }

  .encuesta{
    line-height: 200%;
  }

  .donde-vive{
    display: grid;
    grid-template-areas:
    "dv1 dv1"
    "dv2 dv3";
    grid-template-rows: auto;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
  }

  .dv1 {
    grid-area: dv1;
    margin-top: 10px;
  }

  .dv2 {grid-area: dv2;}

  .dv3 {grid-area: dv3;
    line-height: 250%;}
}












